#loginLogoDiv{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 80px;
}

#loginLogo{
    width: 40%;
}

#image500{
    width: 200px;
    margin-left: 300px;
}

#divText500{
    margin-left: 50px;
}

h1, h2{
    color: black;
}

h1{
    font-size: 100px;
    font-family: Arial;
}

h2{
    font-size: 80px;
    font-family: "Axaxax Rg";
}