#titleInstruments{
    font-family: "Axaxax Rg";
    font-size: 40px;
    color: black;
    margin-left: 2.3%;
}

form{
    text-align: left;
    margin-top: 2%;
    margin-left: 2.3%;
}

label{
    font-family: "Arial";
    font-size: 20px;
    color: black;
}

#id_name{
    width: 20%;
    height: 5%;
    margin-bottom: 2%;
}

#id_image{
    font-size: 17px;
}

#buttonCreateInstrument{
    width: 20%;
    height: 7%;
    font-family: "Axaxax Rg";
    font-size: 20px;
}

#labelError{
    font-size: 20px;
}