#titleInstruments{
    font-family: "Axaxax Rg";
    font-size: 40px;
    color: black;
    margin-left: 15px;
    margin-bottom: 20px;
}

#tableInstruments{
    width: 1320px;
    margin-left: 15px;
}

th{
    font-size: 24px;
}

td{
    font-size: 20px;
}

td, th, tr{
    text-align: center;
}

tbody{
    padding-right: 500px;
}

#imageInstrument{
    width: 50px;
    height: 50px;
}

#editDeleteButton{
    width: 100px;
}

#buttonCreateInstrument{
    width: 200px;
    margin-left: 15px;
}

#editDeleteButton:link, #editDeleteButton:visited{
    color: white;
	text-decoration: none;
}