#titleInstruments{
    font-family: "Axaxax Rg";
    font-size: 40px;
    color: black;
    margin-left: 1%;
    margin-bottom: 2%;
}

#tableInstruments{
    width: 98%;
    margin-left: 1%;
}

th{
    font-size: 24px;
}

td{
    font-size: 20px;
}

td, th, tr{
    text-align: center;
}

tbody{
    padding-right: 50%;
}

#imageInstrument{
    width: 5%;
    height: 5%;
}

#editDeleteButton{
    width: 100px;
}

#buttonCreateInstrument{
    width: 200px;
}

#editDeleteButton:link, #editDeleteButton:visited{
    color: white;
	text-decoration: none;
}