#loginLogoDiv{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

#loginLogo{
    width: 40%;
}

form{
    text-align: center;
}

#id_username, #id_password{
    width: 30%;
    height: 8%;
    margin-bottom: 2%;
    font-family: "Axaxax Rg";
    font-size: 20px;
}

#buttonLogin{
    width: 10%;
    height: 7%;
    font-family: "Axaxax Rg";
    font-size: 20px;
    margin-bottom: 2%;
}

#rememberme{
    font-family: Arial;
    font-size: 14px;
    margin-right: 2%;
    margin-left: 0.3%;
}

#checkBoxRememberme{
    transform: scale(1.2);
}

a:link, a:visited{
    font-family: "Axaxax Rg";
    font-size: 14px;
    color: red;
	text-decoration: none;
}

a:hover{
    color: red;
    text-decoration: underline;
}