#menuDiv{
    text-align: center;
    background-color: white;
}

li {
    list-style: none;
    display: inline;
    font-family: "Axaxax Rg";
    font-size: 24px;
    margin-left: 5%;
    margin-right: 5%;
	font-weight: bolder;
}

a:link, a:visited{
	color: black;
	text-decoration: none;
}

a:hover{
    color: #0066d9;
}

td, th, tr{
    text-align: center;
}


.open .dropdown-toggle {
    color: black;
}

.dropdown-menu li a {
    color: black !important;
}

.dropdown-menu li a:hover {
    color: #0066d9 !important;
}

.navbar {
    margin-bottom: 0;
    background-color: #49cede;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #49cede !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}


