#titleMusicians{
    font-family: "Axaxax Rg";
    font-size: 40px;
    color: black;
    margin-left: 15px;
    margin-bottom: 20px;
}

#divSearcher{
    margin-left: 15px;
}

#id_text{
    width: 1100px;
    height: 42px;
    font-size: 20px;
}

#buttonSearch{
    width: 220px;
    font-size: 20px;
}

#tableMusicians{
    width: 1320px;
    margin-left: 15px;
}

th{
    font-size: 24px;
}

td{
    font-size: 20px;
}

td, th, tr{
    text-align: center;
}

tbody{
    margin-right: 50%;
}

#photoMusician{
    width: 70px;
}

#profileButton:link, #profileButton:visited{
	color: black;
	text-decoration: none;
}

#profileButton:hover{
    color: #0066d9;
}

#infoButton, #likeButton, #dislikeButton{
    width: 100px;
}

#likeButton:link, #likeButton:visited,
#dislikeButton:link, #dislikeButton:visited{
    color: white;
	text-decoration: none;
}

#pagination li{
    margin-right: 5px;
}

#notMusiciansDiv{
    text-align: center;
}

#h1NotMusicians{
    font-family: "Axaxax Rg";
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}