#titleMySongs{
    font-family: "Axaxax Rg";
    font-size: 40px;
    color: black;
    margin-left: 1%;
    margin-bottom: 2%;
}

#tableSongs{
    width: 98%;
    margin-left: 1%;
}

th{
    font-size: 24px;
}

td{
    font-size: 20px;
}

td, th, tr{
    text-align: center;
}

tbody{
    padding-right: 50%;
}

#infoButton, #finishButton, #reopenButton, #deleteButton{
    width: 100px;
}

#buttonCreateSong{
    width: 200px;
}

#notSongsDiv{
    text-align: center;
}

#h1NotSongs{
    font-family: "Axaxax Rg";
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

#buttonCreateSong2{
    width: 300px;
    font-size: 28px;
    color: black;
}