#titleMySongs{
    font-family: "Axaxax Rg";
    font-size: 40px;
    color: black;
    margin-left: 15px;
    margin-bottom: 20px;
}

#tableSongs{
    width: 1320px;
    margin-left: 15px;
}

th{
    font-size: 24px;
}

td{
    font-size: 20px;
}

td, th, tr{
    text-align: center;
}

tbody{
    padding-right: 50%;
}

#infoButton, #finishButton, #reopenButton, #deleteButton{
    width: 100px;
}

#infoButton:link, #infoButton:visited{
	color: black;
	text-decoration: none;
}

#infoButton:hover{
    color: #0066d9;
}

#buttonCreateSong{
    width: 200px;
    margin-left: 15px;
}

#buttonCreateSong2{
    width: 300px;
    font-size: 28px;
    color: black;
}

#tracksButton:link, #tracksButton:visited,
#finishButton:link, #finishButton:visited,
#reopenButton:link, #reopenButton:visited,
#deleteButton:link, #deleteButton:visited{
    color: white;
	text-decoration: none;
}

#notSongsDiv{
    text-align: center;
}

#h1NotSongs{
    font-family: "Axaxax Rg";
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

#divError{
    text-align: center;
    margin-top: 30px;
}

#labelError{
    font-size: 20px;
}