#divProfilePhoto{
    margin-top: 30px;
    width: 320px;
}

#photoMusician{
    width: 280px;
    margin-left: 10px;
}

#buttonEditProfile{
    width: 200px;
    margin-top: 20px;
    margin-left: 10px;
}

#buttonEditProfile:link, #buttonEditProfile:visited{
    color: white;
	text-decoration: none;
}

#divProfileName{
    position: absolute;
    top: 230px;
    left: 320px;
}

#profileName{
    font-family: "Arial";
    color: black;
    font-size: 40px;
}

#divProfileDescription{
    width: 600px;
    position: absolute;
    top: 310px;
    left: 325px;
}

#profileDescription{
    color: black;
    font-size: 20px;
}

#divProfileSongs{
    width: 300px;
    position: absolute;
    top: 260px;
    right: 100px;
}

th{
    font-size: 20px;
}