{% load static %}

{% block extrahead %}
    <link rel="icon" href="{% static "images/favicon.ico" %}" sizes="48x48" />
{% endblock %}

<link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/creative.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
          rel="stylesheet"/>
<link href="http://allfont.es/allfont.css?fonts=axaxax" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static "css/base.css" %}" />
    <title>Musix</title>
</head>

<body id="page-top">
</body>
</html>