#titleAccount{
    font-family: "Axaxax Rg";
    font-size: 40px;
    color: black;
    margin-left: 30px;
    margin-bottom: 30px;
}

form{
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
}

label{
    font-family: "Arial";
    font-size: 20px;
    color: black;
}

.sp{
    color: red;
    font-size: 18px;
    margin-left: 2px;
}

#id_name, #id_surname, #id_username, #id_email, #id_phone, #id_password, #id_password2{
    width: 400px;
    height: 40px;
    font-size: 20px;
}

#output{
    width: 110px;
    margin-left: 70px;
}

#buttonCreateAccount, #buttonCancel{
    width: 270px;
    height: 50px;
    font-family: "Axaxax Rg";
    font-size: 20px;
}

#divError{
    margin-left: 30px;
}

#labelError{
    font-size: 20px;
}