form{
    text-align: left;
    margin-top: 2%;
    margin-left: 2.3%;
}

label{
    font-family: "Arial";
    font-size: 20px;
    color: black;
}

.sp{
    color: red;
    font-size: 18px;
    margin-left: 2px;
}

#id_song{
    font-size: 17px;
}

#buttonPublishSong, #buttonCancel{
    width: 20%;
    height: 7%;
    font-family: "Axaxax Rg";
    font-size: 20px;
}