{% include 'base.html' %}
{% load static %}

<link type="text/css" rel="stylesheet" href="{% static "css/changePassword.css" %}"
      xmlns="http://www.w3.org/1999/html"/>

<div>
    {% include "header.html" %}
</div>

<div>
    {% include "menu.html" %}
</div>

<div>
    <h1 id="titleChangePassword">Change password</h1>
</div>

<div>
    {% if error %}
        <label class="label label-danger" id="labelError">{{ error }}</label>
    {% endif %}
</div>

<div>
    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_newPassword">New password<sup class="sp">*</sup></label>
            <input type="password" name="newPassword" id="id_newPassword" class="form-control" required >
        </div>
        <br />

        <div class="form-group">
            <label for="id_checkPassword">Confirm new password<sup class="sp">*</sup></label>
            <input type="password" name="checkPassword" id="id_checkPassword" class="form-control" required >
        </div>
        <br />

        <input type="submit" value="Change password" id="buttonChangePassword" />
        <input type="button" value="Cancel" id="buttonCancel"
               onclick="location.href='/profile/{{ musician.user.username }}'"/>
    </form>
</div>

<div>
    {% include "footer.html" %}
</div>