{% include 'base.html' %}
{% load static %}

<link type="text/css" rel="stylesheet" href="{% static "css/createInstrument.css" %}"/>
<script type="text/javascript" src="{% static "js/showImage.js" %}"></script>

<div>
    {% include "header.html" %}
</div>

<div>
    {% include "menu.html" %}
</div>

<div>
    <h1 id="titleInstruments">Create instrument</h1>
</div>

<div>
    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Name</label>
            <input type="text" name="name" id="id_name" class="form-control" required>
            {% if error %}
                <label class="label label-danger" id="labelError">{{ error }}</label>
            {% endif %}
        </div>
        <br />

        <div class="form-group">
            <label for="id_image">Image</label>
            <img id="output">
            <input type="file" name="image" id="id_image" required>
        </div>
        <br />

        <input type="submit" value="Create instrument" id="buttonCreateInstrument" />
        <input type="button" value="Cancel" id="buttonCancel" onclick="location.href='/instruments'"/>
    </form>
</div>

<div>
    {% include "footer.html" %}
</div>