{% include "base.html" %}
{% load static %}

<link type="text/css" rel="stylesheet" href="{% static "css/createSong.css" %}"/>

<div>
    {% include "header.html" %}
</div>

<div>
    {% include "menu.html" %}
</div>

<div>
    <h1 id="titleSong">Create song</h1>
</div>

<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Name</label>
            <input type="text" name="name" id="id_name" class="form-control" required>
        </div>
        <br />

        <div class="form-group">
            <label for="id_author">Author</label>
            <input type="text" name="author" id="id_author" class="form-control" required>
        </div>
        <br />

        <div class="form-group">
            <label for="id_description">Description</label>
            <textarea name="description" id="id_description" class="form-control" required></textarea>
        </div>
        <br />

        <div class="form-group">
            <label for="id_requiredInstruments">Required instruments</label>
            <br />
            {% for i in instruments %}
                <input type="checkbox" name="{{ i.name }}" value="{{ i.name }}">
                    <label id="nameInstrument">{{ i.name }}</label>
                <br />
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="id_additionalInstruments">Additional instruments?</label>
            <br />
            <input type="radio" id="id_additionalInstruments" name="additionalInstruments" value="Y">
            <label id="yesornot">Yes</label>
            <br />
            <input type="radio" id="id_additionalInstruments" name="additionalInstruments" value="N">
            <label id="yesornot">No</label>
        </div>

        <input type="submit" value="Create song" id="buttonCreateSong" />
        <input type="button" value="Cancel" id="buttonCancel" onclick="location.href='/mySongs'"/>
    </form>
</div>

<div>
    {% include "footer.html" %}
</div>