{% include 'base.html' %}
{% load static %}

<link type="text/css" rel="stylesheet" href="{% static "css/editProfile.css" %}"
      xmlns="http://www.w3.org/1999/html"/>
<script src="{% static 'js/showPhoto.js' %}"></script>

<div>
    {% include "header.html" %}
</div>

<div>
    {% include "menu.html" %}
</div>

<div>
    <h1 id="titleEditProfile">Edit profile</h1>
</div>

<div>
    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Name<sup class="sp">*</sup></label>
            <input type="text" name="name" id="id_name" class="form-control" required
            value="{{ musician.user.first_name }}">
        </div>
        <br />

        <div class="form-group">
            <label for="id_surname">Surname<sup class="sp">*</sup></label>
            <input type="text" name="surname" id="id_surname" class="form-control" required
            value="{{ musician.user.last_name }}">
        </div>
        <br />

        <div class="form-group">
            <label for="id_username">Username<sup class="sp">*</sup></label>
            <input type="text" name="username" id="id_username" class="form-control" required
            value="{{ musician.user.username }}">
        </div>
        <br />

        <div class="form-group">
            <label for="id_description">Description</label>
            <br>
            <textarea name="photo" id="id_description">{{ musician.description }}</textarea>
        </div>
        <br />

        <div class="form-group" id="divPhoto">
            <label for="id_photo">Photo</label>
            <img id="output">
            <input type="file" name="photo" id="id_photo">
        </div>
        <br />

        <div class="form-group">
            <label for="id_phone">Phone</label>
            <input type="text" name="phone" id="id_phone" class="form-control"
            value="{{ musician.phone }}">
        </div>
        <br />

        <div class="form-group">
            <label for="id_gender">Gender</label>
            <br>

            {% if musician.gender == "M" %}
                <input type="radio" name="gender" id="id_gender" value="M" checked="checked">
                <label id="gender">Male</label>
                <br>
                <input type="radio" name="gender" id="id_gender" value="F">
                <label id="gender">Female</label>
                <br>
                <input type="radio" name="gender" id="id_gender" value="O">
                <label id="gender">Other</label>

            {% elif  musician.gender == "F" %}
                <input type="radio" name="gender" id="id_gender" value="M">
                <label id="gender">Male</label>
                <br>
                <input type="radio" name="gender" id="id_gender" value="F" checked="checked">
                <label id="gender">Female</label>
                <br>
                <input type="radio" name="gender" id="id_gender" value="O">
                <label id="gender">Other</label>

            {% elif  musician.gender == "O" %}
                <input type="radio" name="gender" id="id_gender" value="M">
                <label id="gender">Male</label>
                <br>
                <input type="radio" name="gender" id="id_gender" value="F">
                <label id="gender">Female</label>
                <br>
                <input type="radio" name="gender" id="id_gender" value="O" checked="checked">
                <label id="gender">Other</label>
            {% endif %}
        </div>
        <br />

        <div class="form-group">
            <label for="id_country">Country</label>
            <br>
            {{ form.country }}
        </div>
        <br />

        <div class="form-group">
            <label for="id_city">City</label>
            <input type="text" name="city" id="id_city" class="form-control"
            value="{{ musician.city }}">
        </div>
        <br />

        <input type="submit" value="Edit profile" id="buttonEditProfile" />
        <input type="button" value="Cancel" id="buttonCancel"
               onclick="location.href='/profile/{{ musician.user.username }}'"/>
    </form>
</div>

<div>
    {% include "footer.html" %}
</div>