{% include 'base.html' %}
{% load static %}

<link type="text/css" rel="stylesheet" href="{% static "css/instruments.css" %}"/>
<script type="text/javascript" src="{% static "js/tables.js" %}"></script>

<div>
    {% include "header.html" %}
</div>

<div>
    {% include "menu.html" %}
</div>

{% if instruments %}

    <div>
        <h1 id="titleInstruments">Instruments</h1>
    </div>

    <div id="tableInstrumentsDiv">
        <table class="table table-responsive table-hover" id="tableInstruments">
            <thead>
                <tr class="info">
                    <th onclick="sortTable(0, 'tableInstrumentsDiv')">Name</th>
                    <th>Image</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for i in instruments %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td><img src="{% static "media/" %}{{ i.image }}" id="imageInstrument"></td>
                        <td>
                            <a href="/editInstrument/{{ i.id }}" role="button" class="btn btn-warning" id="editDeleteButton">Edit</a>
                        </td>
                        <td>
                            {% if i not in used_instruments %}
                                <a href="/deleteInstrument/{{ i.id }}" role="button" class="btn btn-danger" id="editDeleteButton"
                                onclick="return confirm('Are you sure?')">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if instruments.has_other_pages %}
            <ul id="pagination">
                {% if instruments.has_previous %}
                    <li><a href="?page={{ instruments.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in instruments.paginator.page_range %}
                    {% if instruments.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if instruments.has_next %}
                    <li><a href="?page={{ instruments.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>

    <div>
        <button class="btn btn-default" onclick="location.href='/createInstrument'" id="buttonCreateInstrument">Create instrument</button>
    </div>

{% else %}
    <div id="notInstrumentsDiv">
        <h1 id="h1NotInstruments">There are not instruments</h1>
        <button class="btn btn-default" onclick="location.href='/createInstrument'" id="buttonCreateInstrument2">Create instrument</button>
    </div>
{% endif %}

<div>
    {% include "footer.html" %}
</div>