{% include "base.html" %}
{% load static %}

<link type="text/css" rel="stylesheet" href="{% static "css/login.css" %}"/>

<div id="loginLogoDiv">
    <a href="/index/">
        <img src="{% static "images/musix.png" %}" id="loginLogo" />
    </a>
</div>

<div>
    <form method="post" id="form" class="form" role="form" autocomplete="on">
        {% csrf_token %}
        <input type="text" name="username" id="id_username" placeholder="Username">
        <br />
        <input type="password" name="password" id="id_password" placeholder="Password">
        <br />
        <input type="submit" value="Login" id="buttonLogin"/>
    </form>



</div>
