{% include "base.html" %}
{% load static %}

<link type="text/css" rel="stylesheet" href="{% static "css/menu.css" %}"/>

{% if not user.is_authenticated %}

    <div id="menuDiv">
        <ul>
            <li><a href="/songs">Songs</a></li>
            <li><a href="/musicians">Musicians</a></li>
            <li><a href="/createAccount">Create account</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>

{% elif user.username == "admin" %}
    <div id="menuDiv">
        <ul id="ulAdmin">
            <li><a href="/musicians">Musicians</a></li>
            <li><a href="/instruments">Instruments</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>

{% else %}
    <div id="menuDiv">
        <ul id="ulUser">
            <li><a href="/songs">Songs</a></li>
            <li><a href="/musicians">Musicians</a></li>

            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">My music<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/myTracks">My tracks</a>
                    </li>
                    {% if user.musician.premium %}
                        <li>
                            <a href="/mySongs">My songs</a>
                        </li>
                    {% endif %}
                </ul>
            </li>

            <li><a href="/profile/{{ user.username }}">My profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>

{% endif %}

<script>
    $('.dropdown-toggle').dropdown()
</script>