{% include "base.html" %}
{% load static %}

<link type="text/css" rel="stylesheet" href="{% static "css/menu.css" %}"/>

{% if not user.is_authenticated %}

    <div id="menuDiv">
        <ul>
            <li><a href="/songs">Songs</a></li>
            <li><a href="/musicians">Musicians</a></li>
            <li><a href="/createAccount">Create account</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>

{% else %}

    <div id="menuDiv">
        <ul id="ulUser">
            <li><a href="/songs">Songs</a></li>
            <li><a href="/musicians">Musicians</a></li>
            <li><a href="/myProfile">My profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>

{% endif %}