{% include 'base.html' %}
{% load static %}

<link type="text/css" rel="stylesheet" href="{% static "css/musicians.css" %}"/>
<script type="text/javascript" src="{% static "js/tables.js" %}"></script>

<div>
    {% include "header.html" %}
</div>

<div>
    {% include "menu.html" %}
</div>

<div id="divSearcher">
    <form class="form-inline" id='searchForm' method='post' action='' name="search">
        {% csrf_token %}
        <div class="form-group">
            <input id="id_text" type='text' name="text"
                   placeholder="Musician"
                   class="form-control" size="20"/>
        </div>
        <input type="submit" class="btn btn-default" value="Search" id="buttonSearch">

    </form>

</div>

{% if musicians %}
    <div>
        <h1 id="titleMusicians">Musicians</h1>
    </div>

    <div id="tableMusiciansDiv">
        <table class="table table-responsive table-hover" id="tableMusicians">
            <thead>
                <tr class="info">
                    <th></th>
                    <th onclick="sortTable(1, 'tableMusiciansDiv')">Username</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for m in musicians %}
                    <tr>
                        <td>
                            {% if m.photo %}
                                <img src="{% static "media/" %}{{ m.photo }}" id="photoMusician">
                            {% else %}
                                {% if m.gender == "F" %}
                                    <img src="{% static "images/avatarMujer.png" %}" id="photoMusician">
                                {% else %}
                                    <img src="{% static "images/avatarHombre.png" %}" id="photoMusician">
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            <a href="/profile/{{ m.user.username }}" id="profileButton">{{ m.user.username }}</a>
                        </td>
                        <td>
                            <a href="/likeUser/{{ m.id }}" role="button" class="btn btn-success" id="likeButton">Like</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if musicians.has_other_pages %}
            <ul id="pagination">
                {% if musicians.has_previous %}
                    <li><a href="?page={{ musicians.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for m in musicians.paginator.page_range %}
                    {% if musicians.number == m %}
                        <li class="active"><span>{{ m }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ m }}">{{ m }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if musicians.has_next %}
                    <li><a href="?page={{ musicians.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}

    </div>

{% else %}
    <div id="notMusiciansDiv">
        <h1 id="h1NotMusicians">No musicians found</h1>
    </div>
{% endif %}

<div>
    {% include "footer.html" %}
</div>
