{% include 'base.html' %}
{% load static %}

<link type="text/css" rel="stylesheet" href="{% static "css/mySongs.css" %}"/>
<script type="text/javascript" src="{% static "js/tables.js" %}"></script>

<div>
    {% include "header.html" %}
</div>

{% if songs %}

    <div>
        <h1 id="titleMySongs">My songs</h1>
    </div>

    <div id="tableSongsDiv">
        <table class="table table-responsive table-hover" id="tableSongs">
            <thead>
                <tr class="info">
                    <th onclick="sortTable(0, 'tableSongsDiv')">Name</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for s in songs %}
                    <tr>
                        <td>{{ s.name }}</td>
                        <td>
                            <a href="/song/{{ s.id }}" role="button" class="btn btn-info" id="infoButton">Info</a>
                        </td>
                        <td>
                            {% if not s.finished %}
                                <a href="/finishSong/{{ s.id }}" role="button" class="btn btn-success" id="finishButton"
                                   onclick="return confirm('Are you sure?')">Finish</a>
                            {% else %}
                                <a href="/reopenSong/{{ s.id }}" role="button" class="btn btn-success" id="reopenButton"
                                   onclick="return confirm('Are you sure?')">Reopen</a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="/deleteSong/{{ s.id }}" role="button" class="btn btn-danger" id="deleteButton"
                                   onclick="return confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <button class="btn btn-default" onclick="location.href='/createSong'" id="buttonCreateSong">Create song</button>
    </div>

{% else %}
    <div id="notSongsDiv">
        <h1 id="h1NotSongs">You haven't songs yet</h1>
        <button class="btn btn-default" onclick="location.href='/createSong'" id="buttonCreateSong2">Create song</button>
    </div>
{% endif %}

<div>
    {% include "footer.html" %}
</div>