{% include 'base.html' %}
{% load static %}

<link type="text/css" rel="stylesheet" href="{% static "css/song.css" %}"/>
<script type="text/javascript" src="{% static "js/tables.js" %}"></script>

<div>
    {% include "header.html" %}
</div>

<div>
    {% include "menu.html" %}
</div>

<h1 id="h1">{{ song.name }} - {{ song.author }}</h1>

<p id="pDescription">{{ song.description }}</p>

<div>
    {% if not song.finished and user.is_authenticated %}
        <h3 id="iNeed">I need this instruments</h3>
        <table class="table table-responsive " id="tableInstruments">
            <tbody>
                {% for i in required_instruments %}
                    <tr>
                        <img src="{% static "media/" %}{{ i.image }}" id="imageInstrument">
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if user.musician.id != song.creator.id %}
            <h3 id="iNeed">So...you can upload your track here</h3>
            <button class="btn btn-default" onclick="location.href='/uploadTrack/{{ song.id }}'" id="buttonUploadTrack">Upload track</button>
        {% endif %}
    {% endif %}
</div>

{% if not song.finished and user.id == musician.user.id %}
    <input type="button" value="Publish song" id="buttonPublishSong" onclick="location.href='/publishSong/{{ song.id }}'"/>
{% endif %}

{% if song.finished %}
    <audio src="{% static "media/" %}{{ song.finishedSong }}" controls></audio>
{% endif %}


<div>
    {% include "footer.html" %}
</div>