{% include 'base.html' %}
{% load static %}

<link type="text/css" rel="stylesheet" href="{% static "css/song.css" %}"/>
<script type="text/javascript" src="{% static "js/tables.js" %}"></script>

<div>
    {% include "header.html" %}
</div>

<div>
    {% include "menu.html" %}
</div>

<h1 id="h1">{{ song.name }} - {{ song.author }}</h1>

<div id="divDescription">
    <p id="pDescription">{{ song.description }}</p>
</div>

<div id="divBPM">
    <h1 id="bpm">BPM: {{ song.bpm }}</h1>
</div>

<div id="divTune">
    <h1 id="tune">Tune: {{ song.song_tune }}</h1>
</div>

<br><br><br>
<hr>

<div>
    {% if not song.finished and user.is_authenticated %}
        {% if song.additionalInstruments %}
            <h3 id="iNeed">I need this instruments or an instrument that you want</h3>
        {% else %}
            <h3 id="iNeed">I need this instruments</h3>
        {% endif %}
        <table class="table table-responsive " id="tableInstruments">
            <tbody>
                {% for i in required_instruments %}
                    <tr>
                        <img src="{% static "media/" %}{{ i.image }}" id="imageInstrument">
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if user.musician.id != song.creator.id %}
            {% if song not in participations %}
                <h3 id="iNeed">So...you can upload your track here</h3>
                <button class="btn btn-default" onclick="location.href='/uploadTrack/{{ song.id }}'" id="buttonUploadTrack">Upload track</button>
            {% else %}
                <h3 id="iNeed">But...you have already participated</h3>
            {% endif %}
        {% endif %}
    {% endif %}
</div>

{% if not song.finished and user.id == musician.user.id %}
    <input type="button" value="Edit song" id="buttonEditSong" onclick="location.href='/editSong/{{ song.id }}'"/>
    <input type="button" value="Publish song" id="buttonPublishSong" onclick="location.href='/publishSong/{{ song.id }}'"/>
{% endif %}

{% if song.finished %}
    <audio src="{% static "media/" %}{{ song.finishedSong }}" controls id="audioSong"></audio>
{% endif %}


<div>
    {% include "footer.html" %}
</div>