{% include 'base.html' %}
{% load static %}

<link type="text/css" rel="stylesheet" href="{% static "css/songs.css" %}"/>
<script type="text/javascript" src="{% static "js/tables.js" %}"></script>

<div>
    {% include "header.html" %}
</div>

<div>
    {% include "menu.html" %}
</div>

{% if songs %}
    <div>
        <h1 id="titleSongs">Songs</h1>
    </div>

    <div id="tableSongsDiv">
        <table class="table table-responsive table-hover" id="tableSongs">
            <thead>
                <tr class="info">
                    <th onclick="sortTable(0, 'tableSongsDiv')">Name</th>
                    <th onclick="sortTable(1, 'tableSongsDiv')"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for s in songs %}
                    <tr>
                        <td>
                            <a href="/song/{{ s.id }}" id="infoButton">{{ s.name }}</a>
                        </td>
                        {% if s.creator.user != user %}
                            <td>
                                {% if not s.finished %}
                                    {% if s not in participations  %}
                                        <a href="/uploadTrack/{{ s.id }}" role="button" class="btn btn-success"
                                        id="participateButton">Participate</a>
                                     {% else %}
                                        You have already participated
                                     {% endif %}
                                {% elif s.finished %}
                                    <button class="btn btn-success" id="listenButton"
                                            onclick="location.href='/song/{{ s.id }}'">
                                        Listen
                                    </button>
                                {% endif %}
                            </td>
                            <td>
                                <a href="/likeSong/{{ s.id }}" role="button" class="btn btn-success" id="likeButton">Like</a>
                            </td>
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if songs.has_other_pages %}
            <ul id="pagination">
                {% if songs.has_previous %}
                    <li><a href="?page={{ songs.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for s in songs.paginator.page_range %}
                    {% if songs.number == s %}
                        <li class="active"><span>{{ s }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ s }}">{{ s }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if songs.has_next %}
                    <li><a href="?page={{ songs.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endif %}

<div>
    {% include "footer.html" %}
</div>
