{% include 'base.html' %}
{% load static %}

<link type="text/css" rel="stylesheet" href="{% static "css/tracks.css" %}"/>
<script type="text/javascript" src="{% static "js/tables.js" %}"></script>
<script type="text/javascript" src="{% static "js/tracks.js" %}"></script>

<div>
    {% include "header.html" %}
</div>

<div>
    {% include "menu.html" %}
</div>

{% if tracks %}

    <div>
        <h1 id="titleTracks">Tracks of "<a href="/song/{{ song.id }}">{{ song.name }}"</a>
        </h1>
    </div>

    <div id="tableTracksDiv">
        <table class="table table-responsive table-hover" id="tableTracks">
            <thead>
                <tr class="info">
                    <th onclick="sortTable(0, 'tableTracksDiv')">Creator</th>
                    <th onclick="sortTable(1, 'tableTracksDiv')">Instrument</th>
                    <th onclick="sortTable(2, 'tableTracksDiv')">Status</th>
                    <th id="thAudio">
                        <button id="playButton" class="btn-success"
                                onclick="playAllTracks({{ tracks_ids }})">Listen to all</button>
                        <button id="pauseButton" disabled class="btn-default"
                                onclick="pauseAllTracks({{ tracks_ids }})">Pause</button>
                        <button id="stopButton" disabled class="btn-default"
                                onclick="stopAllTracks({{ tracks_ids }})">Stop</button>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for t in tracks %}
                    <tr>
                        <td>
                            <a href="/profile/{{ t.musician.user.username }}" id="infoMusician">{{ t.musician.user.username }}</a>
                        </td>
                        <td>
                            <img src="{% static "media/" %}{{ t.instrument.image }}"
                                 id="imageInstrument" alt="{{ t.instrument.name }}">
                        </td>
                        <td>
                            {% if t.status == 'P' %}
                                <a href="/acceptTrack/{{ t.id }}" role="button" class="btn btn-success" id="acceptButton"
                                   onclick="return confirm('Are you sure?')">Accept</a>
                                <a href="/denyTrack/{{ t.id }}" role="button" class="btn btn-danger" id="denyButton"
                                   onclick="return confirm('Are you sure?')">Deny</a>
                            {% elif t.status == 'A' %}
                                Accepted
                            {% elif t.status == 'D' %}
                                Denied
                            {% endif %}
                        </td>
                        <td>
                            <audio src="{% static "media/" %}{{ t.sound }}" controls id="trackSound{{ t.id }}"></audio>
                        </td>
                        <td>
                            <a href="/downloadTrack/{{ t.id }}" role="button">
                                <img src="{% static "images/download.png" %}" id="downloadButton">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% else %}

    <div>
        <h1 id="titleTracks">Tracks of <a href="/song/{{ song.id }}">{{ song.name }}</a>
        </h1>
    </div>

    <div id="notTracksDiv">
        <h1 id="h1NotTracks">There are not tracks for this song</h1>
    </div>

{% endif %}

<div>
    {% include "footer.html" %}
</div>