{% include 'base.html' %}
{% load static %}

<link type="text/css" rel="stylesheet" href="{% static "css/uploadTrack.css" %}"/>

<div>
    {% include "header.html" %}
</div>

<div>
    {% include "menu.html" %}
</div>

<div>
    <h1 id="titleUploadTrack">Upload track for "{{ song.name }}"</h1>
</div>

<div>
    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_instrument">Instrument</label>
            <select id="id_instrument" name="instrument" required>
                {% for i in instruments %}
                    <option id="id_instrument" value="{{ i.id }}">{{ i.name }}</option>
                {% endfor %}
            </select>
        </div>
        <br />

        <div class="form-group">
            <label for="id_sound">Track</label>
            <input type="file" name="sound" id="id_sound" required>
        </div>
        <br />

        <input type="submit" value="Upload track" id="buttonUploadTrack" />
        <input type="button" value="Cancel" id="buttonCancel" onclick="location.href='/song/{{ song.id }}'"/>
    </form>
</div>

<div>
    {% include "footer.html" %}
</div>